body{
    background-color: black;
}


#btn{
    position:fixed;
    top:20px;
    right:20px;
}

#add-btn{
    width:60px;
    height:60px;
    border:none;
    border-radius:50%;
    background:#08b24f;
    color:#fff;
    font-size:28px;
    cursor:pointer;
}

/* Menu */
#menu{
    display:none;
    margin-top:12px;
}

/* Circle Icons */
.item{
    width:50px;
    height:50px;
    border-radius:50%;
    background:#4CAF50;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    position:relative;
    margin:10px auto;
    transition:.3s;
}

.item i{
    font-size:22px;
}

.item:hover{
    background:#43a047;
    transform:scale(1.08);
}

/* Tooltip */
.item span{
    position:absolute;
    right:65px;
    top:50%;
    transform:translateY(-50%);
    background:#1f2937;
    color:#fff;
    padding:7px 12px;
    border-radius:6px;
    white-space:nowrap;
    opacity:0;
    visibility:hidden;
    transition:.3s;
}

.item:hover span{
    opacity:1;
    visibility:visible;
}