<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SideBar</title>
    <link rel="stylesheet" href="../Css/SideBar.css">
    <link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</head>
<body>
    <div class="mainContainer">
        <div class="logo">
        <img src="../Images/logo.png" alt="logo">
        </div>
        <div class="mainNav">
           <div class="navigationTab">

    <div class="navItem">
        <i class="bi bi-house-door-fill"></i>
        <span>Dashboard</span>
    </div>

    <div class="navItem">
        <i class="bi bi-wallet2"></i>
        <span>Income</span>
    </div>

    <div class="navItem">
        <i class="bi bi-cash-stack"></i>
        <span>Expenses</span>
    </div>

    <div class="navItem">
        <i class="bi bi-person-circle"></i>
        <span>Profile</span>
    </div>

    <div class="navItem">
        <i class="bi bi-box-arrow-right"></i>
        <span>Logout</span>
    </div>

</div>
        </div>
    </div>
    
   <div class="fab">

    <button class="main-btn">
        <i class="bi bi-plus-lg"></i>
    </button>

    <div class="fab-menu">

        <div class="fab-item">
            <button><i class="bi bi-wallet2"></i></button>
            <span>Income</span>
        </div>

        <div class="fab-item">
            <button><i class="bi bi-cash-stack"></i></button>
            <span>Expenses</span>
        </div>

        <div class="fab-item">
            <button><i class="bi bi-arrow-left-right"></i></button>
            <span>Transfer</span>
        </div>

    </div>

</div>
</body>
</html>