<div class="sidebar">

    <div class="logo">
        <img src="../Images/logo.png" alt="">
        <h3>Expense Tracker</h3>
    </div>

    <ul>
        <li id="dash">
            <i class="bi bi-house-door-fill"></i>
            <span>Dashboard</span>
        </li>

        <li id="income">
            <i class="bi bi-wallet2"></i>
            <span>Income</span>
        </li>

        <li id="expense">
            <i class="bi bi-cash-stack"></i>
            <span>Expenses</span>
        </li>

        <li id="transaction">
            <i class="bi bi-clock-history"></i>
            <span>Transactions</span>
        </li>

        <li id="reminderPage">
            <i class="bi bi-bell-fill"></i>
            <span>Reminder</span>
        </li>

        <li id="logout">
            <i class="bi bi-box-arrow-right"></i>
            <span>Logout</span>
        </li>
    </ul>

</div>